<h1>Add a New Review</h1>

<%= render 'form', pgrade: @pgrade, btn_name: 'Submit' %>
<br/>
<%= link_to 'Back', pgrades_path, class:"btn btn-dark" %>

<br/><br/>
<p><Strong>Reminder:</Strong> You cannot evaluate your own presentation.</p>
<p>Do not submit same presentation review more than one time. If you want to edit your reviews, go to <Strong>'Evaluations' - 'Edit'<Strong></p>
